a {
  color: #000;
}

body {
  background: #eee;
  color: #000;
	font: 62.5% "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

code pre {
  margin: 1em;
}

code {
  background: #eee;
  border: 0.1em solid #eee;
	font-family: Menlo, Monaco, "Courier New", sans-serif;
	font-size: 1.2em;
	margin: 1em 0;
}

code.block {
  background: #333;
  color: #eee;
  display: block;
  height: 20em;
  overflow: scroll;
}

form.inline {
  border-top: 0.1em solid #eee;
  margin: 2em 0;
  padding-top: 1em;
}

input, select {
  margin-right: 1em;
}

h1 {
	font-size: 1.6em;
	font-weight: bold;
	line-height: 2em;
}

header, footer {
	margin: 4em 0;
}

h2, p, label, li, input, select, textarea {
	font-size: 1.4em;
	line-height: 1.6em;
}

p, li {
	color: #333;
}

ul {
  margin: 1em 0;
}

li {
  font-size: 1em;
  list-style: disc inside;
  margin-bottom: 0.3em;
}

h2 {
	font-weight: bold;
}

h3 { 
	font-size: 1.4em;
	font-weight: bold; 
	line-height: 2em;
}

label .hint {
	color: gray;
	font-size: 0.8em;
	font-style: italic;
}

strong {
	font-weight: bold;
}

textarea {
  display: block;
	font-size: 1.3em;
	width: 100%;
}

textarea.mono {
	background: #333;
	color: #eee;
	font-family: Menlo, Monaco, "Courier New", sans-serif;
	font-size: 1.2em;
}

#container {
  background: #f9f9f9;
  overflow: hidden;
}

.artist { color: #666; }